<div class="container">
	<div class="row">
		<div class="col-lg-3">
	<h1>User info</h1>
	<table class="table table-striped">
        <tr>
            <%= attachment_image_tag @user, :profile_image,:fill,100,100 , format: 'jpeg', fallback: "no_image.jpg"%>
        </tr>
     	<tr>
     		<th>name</th>
     	    <td>
     	    	<%= @user.name %>
     	    </td>
 	    </tr>
        <tr>
	  	  	    <th>introduction</th>
	  	  	    <td>
	  	  		    <%= @user.introduction %>
	  	  	    </td>
	  	  	    <tr>
	  	  	    <th>follows</th>
	  	  	    <td>
	  	  		    <%= link_to followings_user_path(@user.id) do %>
	  	  		    <%= @user.followings.count %>
	  	  		    <% end %>
	  	  	    </td>
	  	  	    </tr>
	  	  	    <tr>
	  	  	    <th>followers</th>
	  	  	    <td>
	  	  		    <%=  link_to followers_user_path(@user.id) do%>
	  	  		    <%= @user.followers.count %>
	  	  		    <% end %> 
	  	  	    </td>
  	    </tr>
	</table>
	<div>
		<%= link_to "" ,edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_17836" %>
	</div>

	<%= render 'relationships/follow_button' ,user: @user %>
	<h2>New book</h2>
	<% if @book_new.errors.any? %>
		<h3>error</h3>
		<% @book_new.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	<% end %>
	<%= form_for(@book_new) do |t|  %>
	    <div class="field">
		    <h4>Title</h4>
		    <%= t.text_field :title , class:"col-xs-12 book_title space"%>
		</div>
        <div class="field space">
		    <h4>Opinion</h4>
		    <%= t.text_area :body , class:"col-xs-12 book_body space" %>
		</div>
        <div class="actions space" >
	        <%= t.submit 'Create Book',class:"btn btn-primary col-xs-12" %>
	    </div>
	<% end %>
</div>

		<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
	       		<tr>
			      	<th>title</th>
				    <th>opinion</th>
				    <th></th>
				    <th colspan="3"></th>
	    		</tr>
		  		<% @books.each do |book| %>
	  	    　　    <tr>
	  	    	　　    <td><%= attachment_image_tag @user, :profile_image,:fill,50,50  %>
	  	    	    </td>
  	  	  　　　　　     <td><%= link_to  book.title, book_path(book.id) %></td>
  	  	  　　　　　     <td><%= book.body %></td>
	  	  	　　　   </tr>
	  	  	    <% end %>
		　　 </table>
		</div>
　　　</div>
</div>


